<div class="container-fluid rgba-lime-light">
    <div class="row py-3">
        <div class="col-12">
            <div class="d-flex">
                <h1 class="text-uppercase font-weight-bold w-100">Cheesecake Factory</h1>
                <div class="w-50 text-right" style="color: orange;">
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 p-3">
            <p>The Cheesecake Factory Incorporated is an American restaurant company and distributor of cheesecakes based in the United States. Offering sizeable portions from a vast menu including signature cheesecake.</p>
            <h1 class="lead text-uppercase">Operating Hours</h1>
            <ul>
                <li>Monday  11am - 10pm </li>
                <li>Tuesday 11am - 10pm </li>
                <li>Wednesday 11am - 10pm </li>
                <li>Thursday 11am - 10pm </li>
                <li>Friday 11am - 11pm </li>
                <li>Saturday 11am - 11pm </li>
                <li>Sunday 10am - 10pm </li>
            </ul>
            <i class="fa fa-globe"></i><a href="https://www.thecheesecakefactory.com/" style="font-size: .95em;"> https://www.thecheesecakefactory.com</a><br/>
            <i class="fa fa-phone"></i><a href="#" style="font-size: 1.3em;"> (405) 843-6111</a><br/>
            <i class="fa fa-book"></i><a href="https://www.thecheesecakefactory.com/reservations/" style="font-size: 1.3em;"> Reserve A Table</a>
        </div>
        <div class="col-lg-8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1653473.8550758904!2d-80.24716596189644!3d35.96063934039002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scheesecake%20factory!5e0!3m2!1sen!2sus!4v1606780537533!5m2!1sen!2sus" width="600" height="450" frameborder="0" style="border:0; width: 100%;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </div>
</div>