<!-- Card -->
<div class="card card-image"
style="background-image: url(https://cdn.psychologytoday.com/sites/default/files/field_blog_entry_images/2018-03/40_new_20-amyelizabethquinn.jpg); background-repeat: no-repeat; background-size: cover; height: 100vh; background-position: center;">

<!-- Content -->
<div class="text-white text-center d-flex rgba-black-light py-5 px-4 justify-content-center align-items-center" style="height: 100vh;">
  <div class="">
    <h3 class="card-title pt-2"><strong>Staying Healthy during Pregnancy</strong></h3>
    <a class="btn btn-pink font-weight-bold" href="https://kidshealth.org/en/parents/preg-health.html" target="_blank">Read More</a>
  </div>
</div>

</div>
<!-- Card -->

<!-- Second Section -->

<!-- Grid row -->

<h1 class="text-center py-4">Helpful Tools</h1>

<!-- Grid row -->
<div class="row mx-auto" style="max-width: 100%;">

  <!-- Grid column -->
  <div class="col-lg-3 col-md-12 mb-4">

    <!--Card Primary-->
    <a href="#" class="text-dark">
    <div class="card text-center z-depth-3" style="background-image: url(https://www.babycenter.com/ims/2020/01/ddc-thumbnail_4x3.jpg); height: 300px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="card-body">
        <h3 class="font-weight-bold mt-2 mb-3 white"><strong>Due Date Calculator</strong></h3>
      </div>
    </div>
    </a>
    <!--/.Card Primary-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-4">

    <!--Card Primary-->
    <a href="#" class="text-dark">
    <div class="card text-center z-depth-3" style="background-image: url(https://bloximages.newyork1.vip.townnews.com/omaha.com/content/tncms/assets/v3/editorial/f/42/f4238257-15bc-5dab-86f3-8bbb592e8abc/5d96325664dee.image.jpg?crop=1208%2C717%2C2%2C132&resize=1200%2C712&order=crop%2Cresize); height: 300px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center;">
      <div class="card-body">
        <h3 class="font-weight-bold mt-2 mb-3 white"><strong>Baby Registry</strong></h3>
      </div>
    </div>
    </a>
    <!--/.Card Primary-->

  </div>
  <!-- Grid column -->

  <!-- Grid column -->
  <div class="col-lg-3 col-md-6 mb-4">

    <!--Card Primary-->
    <a href="#" class="text-dark">
    <div class="card text-center z-depth-3" style="background-image: url(https://static01.nyt.com/images/2010/05/07/blogs/07complaintbox/07complaintbox-blogSpan.jpg); height: 300px; width: 100%; background-size: fill; background-repeat: no-repeat; background-position: center">
      <div class="card-body">
        <h3 class="font-weight-bold mt-2 mb-3 white"><strong>Name Generator</strong></h3>
      </div>
    </div>
    </a>
    <!--/.Card Primary-->

  </div>
  <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-3 col-md-6 mb-4">

        <!--Card Primary-->
        <a href="#" class="text-dark">
        <div class="card text-center z-depth-3" style="background-image: url(https://i.ytimg.com/vi/hUTWo7_W0lc/maxresdefault.jpg); height: 300px; width: 100%; background-size: cover; background-repeat: no-repeat; background-position: center;">
          <div class="card-body">
            <h3 class="font-weight-bold mt-2 mb-3 white"><strong>My Journal</strong></h3>
          </div>
        </div>
        </a>
        <!--/.Card Primary-->
    
      </div>
      <!-- Grid column -->

</div>


<!-- Timeline Section -->
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <h1 class="text-center py-4">Pregnancy Cycle</h1>
                <div class="body">
                    <div class="cd-horizontal-timeline loaded">
                        <div class="timeline">
                            <div class="events-wrapper">
                                <div class="events" style="width: 1800px;">
                                    <ol>
                                        <li><a href="#0" data-date="16/01/2017" class="selected" style="left: 120px;">Week 1</a></li>
                                        <li><a href="#0" data-date="28/02/2017" style="left: 300px;">Week 5</a></li>
                                        <li><a href="#0" data-date="20/04/2017" style="left: 480px;">Week 9</a></li>
                                        <li><a href="#0" data-date="20/05/2017" style="left: 600px;">Week 14</a></li>
                                        <li><a href="#0" data-date="09/07/2017" style="left: 780px;">Week 18</a></li>
                                        <li><a href="#0" data-date="30/08/2017" style="left: 960px;">Week 23</a></li>
                                        <li><a href="#0" data-date="15/09/2017" style="left: 1020px;">Week 27</a></li>
                                        <li><a href="#0" data-date="01/11/2017" style="left: 1200px;">Week 32</a></li>
                                        <li><a href="#0" data-date="10/12/2017" style="left: 1380px;">Week 36</a></li>
                                        <li><a href="#0" data-date="19/01/2018" style="left: 1500px;">Week 39</a></li>
                                        <li><a href="#0" data-date="03/03/2018" style="left: 1680px;">Week 40</a></li>
                                    </ol>
                                    <span class="filling-line" aria-hidden="true" style="transform: scaleX(0.281506);"></span>
                                </div>
                                <!-- .events -->
                            </div>
                            <!-- .events-wrapper -->
                            <ul class="cd-timeline-navigation">
                                <li><a href="#0" class="prev inactive">Prev</a></li>
                                <li><a href="#0" class="next">Next</a></li>
                            </ul>
                            <!-- .cd-timeline-navigation -->
                        </div>
                        <!-- .timeline -->
                        <div class="events-content" style="height: 225px;">
                            <ol>
                                <li class="" data-date="16/01/2017" class="selected">
                                    <div class="d-flex">
                                        <img src="https://www.babycenter.com/ims/2015/01/pregnancy-week-4-yolk-sac_4x3.jpg.pagespeed.ce.JtcZ_C5PbP.jpg" height="150" width="150">
                                        <p class="pl-5">The first week is what we call the First Trimester. It is actually your menstrual period. Because your expected delivery date (aka EDD), is calculated from the first day of your last period; This week counts as part of your 40-week pregnancy even though your baby has not been conceived yet. 
                                        </p>
                                    </div>
                                </li>
                                <li data-date="28/02/2017" class="">
                                    <div class="d-flex">
                                        <a class="image-popup-fit-width" href="https://kidshealth.org/EN/images/galleries/PregCal-Week05-enGL.jpg">
                                            <img src="https://kidshealth.org/EN/images/galleries/PregCal-Week05-enGL.jpg" width="150" height="150">
                                        </a>
                                        <p class="pl-5">The 5th week is still part of your First Trimester. The embryo has been a mass of cells. This is where it begins to distinct shape, which begins to form. The neutral tube or what we call the spinal cord and brain, is where it runs from the top and bottom of the embryo. A bulge, is in the center of the embryo, that is where the heart will be developed. During this week, the placenta also develops. The embro gets its nourishment from its mother, through the placenta, and its finger-like projections called chorionic villi.
                                        </p>
                                    </div>
                                </li>
                                <li data-date="20/04/2017">
                                    <div class="d-flex">
                                        <a class="image-popup-fit-width" href="https://kidshealth.org/EN/images/galleries/PregCal-Week09-enGL.jpg">
                                            <img src="https://kidshealth.org/EN/images/galleries/PregCal-Week09-enGL.jpg" width="150" height="150">
                                        </a>
                                        <p class="pl-5">Week 9 is half-way through the first Trimester. This is where the tail at the bottom of your baby's spinal chord has shrunk and almost disappeared. This week is also where your babies head has been growing - it is compared with the rest of the body and curves onto the chest. Your baby measures about 16-18mm (.6-.7 in) from crown to rump. Baby weighs around .1 ounces which is 3g. The tip of the nose has also developed and has shown through its profile.
                                        </p>
                                    </div>
                                </li>
                                <li data-date="20/05/2017">
                                    <div class="d-flex">
                                        <a class="image-popup-fit-width" href="https://kidshealth.org/EN/images/galleries/PregCal-Week14-enGL.jpg">
                                            <img src="https://kidshealth.org/EN/images/galleries/PregCal-Week14-enGL.jpg" width="150" height="150">
                                        </a>
                                        <p class="pl-5">This is the first week of the Second Trimester. You will notice some fine hairs has developed on your babie's face. Your babie's genetile has fully developed, but could still be difficult to detect through an ultrasound. During this week, your baby will start producing thyroid hormones because the gland has matured.
                                        </p>
                                    </div>
                                </li>
                                <li data-date="09/07/2017">
                                    <div class="d-flex">
                                        <a class="image-popup-fit-width" href="https://kidshealth.org/EN/images/galleries/PregCal-Week18-enGL.jpg">
                                            <img src="https://kidshealth.org/EN/images/galleries/PregCal-Week18-enGL.jpg" width="150" height="150">
                                        </a>
                                        <p class="pl-5">Week 18, which is still part of your Second Trimester. This is when you will see the ears moving to the final position and it will stand out from the head. The bones of the middle ear and the nerve endings from the brain are developing, so that your baby will hear sounds such as heartbeat, and blood moving from the umbilical cord. This week, your baby will begin to harden (ossify) some of the first bones to ossify are those in the clavicles and the legs.
                                        </p>
                                    </div>
                                </li>
                                <li data-date="30/08/2017">
                                    <div class="d-flex">
                                        <a class="image-popup-fit-width" href="https://kidshealth.org/EN/images/galleries/PregCal-Week23-enGL.jpg">
                                            <img src="https://kidshealth.org/EN/images/galleries/PregCal-Week23-enGL.jpg" width="150" height="150">
                                        </a>
                                        <p class="pl-5">This is still part of the Second Trimester. Your babie's daily workout routine, includes moving the muscles in the fingers, toes, arms, and legs regularly. As a result, you may feel more forceful movements. With increasing research and knowledge in the field of fetal medicine, the long-term prognosis for premature (preemies) babies improves every year. 
                                        </p>
                                    </div>
                                </li>
                                <li data-date="15/09/2017">
                                    <div class="d-flex">
                                        <a class="image-popup-fit-width" href="https://kidshealth.org/EN/images/galleries/PregCal-Week27-enGL.jpg">
                                            <img src="https://kidshealth.org/EN/images/galleries/PregCal-Week27-enGL.jpg" width="150" height="150">
                                        </a>
                                        <p class="pl-5">This is the first week of the Third Trimester. Your baby will loook similar to what he or she will look like at birth. The lungs, liver, and immune system, will still need to fully mature, but, if born now, your baby will have a very good chance of surviving. Sounds may be muffled, though, because their ears are still covered with vernix, the thick waxy coating that protects the skin from becoming chapped by the amniotic fluid.
                                        </p>
                                    </div>
                                </li>
                                <li data-date="01/11/2017">
                                    <div class="d-flex">
                                        <a class="image-popup-fit-width" href="https://kidshealth.org/EN/images/galleries/PregCal-Week32-enGL.jpg">
                                            <img src="https://kidshealth.org/EN/images/galleries/PregCal-Week32-enGL.jpg" width="150" height="150">
                                        </a>
                                        <p class="pl-5">Still, part of the Third Trimester. This is where the final touches are being put as a masterpiece. Eyelashes, eyebrows, and the hair on your baby's hair are evident. At about 4lbs and 11.4in from crown to rump, your baby would have an excellent chance of survival outside of the womb if delivered early.
                                        </p>
                                    </div>
                                </li>
                                <li data-date="10/12/2017">
                                    <div class="d-flex">
                                        <a class="image-popup-fit-width" href="https://kidshealth.org/EN/images/galleries/PregCal-Week36-enGL.jpg">
                                            <img src="https://kidshealth.org/EN/images/galleries/PregCal-Week36-enGL.jpg" width="150" height="150">
                                        </a>
                                        <p class="pl-5">Last week of your Third Trimester. The tiny wrinkly fetus you saw on earlier's ultrasounds, has formed into a plump baby. Your baby now weighs a little under 6lbs. Don't be surprised if your little one arrives with a pointy or misshapen head, because, your baby will change its head within a few hours or days to a rounded shape.
                                        </p>
                                    </div>
                                </li>
                                <li data-date="19/01/2018">
                                    <div class="d-flex">
                                        <a class="image-popup-fit-width" href="https://kidshealth.org/EN/images/galleries/PregCal-Week39-enGL.jpg">
                                            <img src="https://kidshealth.org/EN/images/galleries/PregCal-Week39-enGL.jpg" width="150" height="150">
                                        </a>
                                        <p class="pl-5">The umbilical cord, usually are about 22in long and 1/2in thick. This usually won't be a problem unless it puts pressure on the cord during labor or delivery (wrapped cord around baby's neck). A women might need a c-section, when this happens. A true knot in the umbilical cord happens much less often in about 1 percent of pregnancies.
                                        </p>
                                    </div>
                                </li>
                                <li data-date="03/03/2018">
                                    <div class="d-flex">
                                        <a class="image-popup-fit-width" href="https://kidshealth.org/EN/images/galleries/PregCal-Week40-enGL.jpg">
                                            <img src="https://kidshealth.org/EN/images/galleries/PregCal-Week40-enGL.jpg" width="150" height="150">
                                        </a>
                                        <p class="pl-5">Ending your Third Trimester, the anticipation and preparation, your baby is finally here. Most women dont deliver right on their estimated due-dates. Many first time moms find themselves waiting up to 2 weeks waiting for their baby to arrive. But it's okay! A baby born at 40 weeks weighs, an average, of about 7lbs. A new born's head often is temporarily misshapen from the birth canal and may be covered with vernix and blood. This is all completely normal.
                                        </p>
                                    </div>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>

    