<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto pt-4">
        <div *ngIf="notify" class="alert alert-success text-center">
          {{ notify }}
        </div>
        <div *ngIf="errors.length > 0" class="alert alert-danger text-center">
          <p *ngFor = "let error of errors">
              {{ error }}
          </p>
        </div>
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form [formGroup]="loginForm" (ngSubmit) = "login()" class="form-signin">
              <div class="form-label-group">
                <input type="email" id="inputEmail" class="form-control" formControlName="email" placeholder="Email address" required autofocus>
                <label for="inputEmail" class="">Email address</label>
              </div>
              <div *ngIf="isValidInput('email')"
              class="alert alert-danger">
              <div *ngIf="loginForm.controls['email'].errors!.required">
                Email is required.
              </div>
              <div *ngIf="loginForm.controls['email'].errors!.pattern">
                Must be a valid email format.
              </div>
            </div>
              <div class="form-label-group">
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" formControlName ="password">
                <label for="inputPassword" class="">Password</label>
              </div>
              <div *ngIf="isValidInput('password')"
                class="alert alert-danger">
                <div *ngIf="loginForm.controls['password'].errors!.required">
                  Password is required.
                </div>
              </div>
              <button [disabled]="!loginForm.valid" class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
              <hr class="my-4">
              <p class="text-center">Not Registered? <a routerLink="/auth/signup">Signup now</a></p>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
