<!-- Footer -->
<footer class="page-footer font-small text-dark" style="background-color: #ebedee;">

    <div style="background-color: #bbb4e4;">
      <div class="container">
  
        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h6 class="mb-0">Get connected with us on social networks!</h6>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">
  
            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fab fa-facebook-f white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fab fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fab fa-google-plus-g white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fab fa-linkedin-in white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fab fa-instagram white-text"> </i>
            </a>
  
          </div>
          <!-- Grid column -->
  
        </div>
        <!-- Grid row-->
  
      </div>
    </div>
  
    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">
  
      <!-- Grid row -->
      <div class="row mt-3">
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
  
          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Expecting</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Created by Jaris Ingram, Adele Ruffin, Breyana Warren, and Jordan Wilkins.
            Group 2 Final Project 
            CST 498-05A.</p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Resources</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="https://www.simplehealth.com/birth-control?sid=adwords&mtype=b&cid=1697222327&aid=74682483508&kw=%2Bbirth%20%2Bcontrol&gclid=Cj0KCQiAzZL-BRDnARIsAPCJs70r0gZqJ8Fe9_kGqvMZiP64EBlopa8Izy07p-BxW705KPWSUMvPthMaAifiEALw_wcB" target="_blank" class="black-text">Birth Control</a>
          </p>
          <p>
            <a href="https://www.uclahealth.org/obgyn/endometriosis" target="_blank" class="black-text">Endometriosis</a>
          </p>
          <p>
            <a href="https://www.cdc.gov/reproductivehealth/infertility/index.htm" target="_blank" class="black-text">Infertility</a>
          </p>
          <p>
            <a href="https://www.healthline.com/health/hormonal-imbalance" target="_blank" class="black-text">Hormonal Imbalance</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a href="#!" target="_blank" class="black-text">Your Account</a>
          </p>
          <p>
            <a href="#!" target="_blank" class="black-text">Become an Affiliate</a>
          </p>
          <p>
            <a href="#!" target="_blank" class="black-text">Shipping Rates</a>
          </p>
          <p>
            <a href="#!" target="_blank" class="black-text">Help</a>
          </p>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
  
          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fas fa-home mr-3"></i> Greensboro, NC 27411, US</p>
          <p>
            <i class="fas fa-envelope mr-3"></i> team2@example.com</p>
          <p>
            <i class="fas fa-phone mr-3"></i> + 12 003 202 00</p>
          <p>
            <i class="fas fa-print mr-3"></i> + 12 003 202 00</p>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3" style="background-color: #363738;">© 2020 All Rights Reserved</div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->